/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

/* Header */
.top-header {
    background-color: #b3e67c;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%;
    max-width: 1500px;
    left: 50%;
    transform: translateX(-50%);
    height: 110px;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    flex: 1; /* Ocupa espaço adequado */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo h1 {
    font-size: 2.5rem;
    color: #000;
    margin-left: 1rem;
}

/* Barra de Pesquisa */
.search-bar {
    flex: 2; /* Centraliza a barra de pesquisa, ocupando mais espaço */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.search-bar input {
    width: 100%;
    max-width: 600px; /* Aumenta a largura máxima da barra de pesquisa */
    padding: 0.8rem;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 1rem;
}

.search-bar button {
    background-color: transparent;
    border: none;
    margin-left: -45px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #000;
}

/* Ícones */
.header-icons {
    flex: 1; /* Alinha os ícones à direita */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem; /* Maior espaçamento entre os ícones */
}

.header-icons a {
    font-size: 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
}

/* Hero Section */
.hero {
    margin-top: 80px; /* Compensa a altura do header fixo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Define a altura da seção hero */
    background-color: #f0f0f0;
}

.hero-banner img {
    width: 100vw; /* Garante que a imagem cubra 100% da largura da viewport */
    height: 100%; /* Altura total da seção hero */
    object-fit: cover; /* Cobre o espaço sem distorção */
}

/* Produtos */
.products {
    padding: 2rem;
    text-align: center;
}

.products h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

.product-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
