@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header */
.top-header {
    background-color: rgba(155, 207, 99, 0.85); /* Cor de fundo com 85% de opacidade */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%;
    max-width: 1500px;
    left: 50%;
    transform: translateX(-50%);
    height: 110px;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
/* Ajuste do layout */
.header-content {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo h1 {
    font-family: 'Lilita One', sans-serif;
    font-size: 76px; /* Tamanho da fonte */
    font-weight: 400; /* Regular */
    letter-spacing: 0; /* Espaçamento de letras em 0% */
    color: #000;
    margin-left: 3rem; /* Aumente este valor para mover o "CHE" mais para a direita */
}

.search-bar {
    position: relative; /* Para posicionar a imagem dentro da barra */
    flex: 2;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 100%;
    background-color: rgba(155, 207, 99, 0.85);
    max-width: 1000px;
    padding: 0.8rem;
    padding-left: 3rem; /* Aumente este valor para mover o texto mais à direita */
    border: 3px solid #000;
    border-radius: 30px;
    font-size: 0.95rem;
    outline: none;
}

.search-bar .leading-icon {
    position: absolute;
    left: 8px; /* Posição à esquerda do input */
}


.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #000;
    margin-left: -55px; /* Movendo o botão de lupa para a esquerda */
}

.search-bar button img {
    display: block;

}

/* Ícones */
.header-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem; /* Mantém o espaçamento entre os ícones */
    margin-right: 5rem; /* Move os ícones mais para a esquerda */
}

.header-icons a img {
    width: 40px; /* Diminuindo o tamanho dos ícones */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Hero Section */
.hero {
    margin-top: 110px; /* Espaço compensado para o header fixo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-bottom: 0;
}

.hero-banner img {
    width: 100%; /* Mantém a largura total */
    height: auto; /* Ajusta a altura proporcionalmente */
    object-fit: cover; /* Mantém a imagem ajustada */
    margin-top: -100px; /* Mova o banner para cima ajustando o valor conforme necessário */
    display: block;
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.promo-text {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    margin-top: 93px; /* Aumente a margem superior para movê-lo mais para baixo */
    font-size: 1.4rem;
    color: #000;
    padding: 1rem; 
}

.promo-text strong {
    font-weight: bold;
}

/* Modal estilo */
/* Estilo do modal */
/* Estilo do modal */
/* Estilo do modal */
.modal {
    position: fixed;
    top: 102px; /* A distância do topo */
    left: 71%; /* Centraliza em relação à tela */
    transform: translateX(-50%); /* Move o modal para o centro */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 250px; /* Largura do modal */
    z-index: 1000;
}



/* Estilo dos inputs dentro do modal */
.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Estilo dos labels no cantinho */
.modal label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    color: #333;
    text-align: left; /* Alinha o texto do label à esquerda */
    margin-left: 0; /* Remove qualquer margem à esquerda */
}

/* Estilo para o checkbox */
.modal input[type="checkbox"] {
    margin-left: 0; /* Garante que o checkbox fique alinhado à esquerda */
    margin-right: 5px; /* Adiciona um espaçamento entre o checkbox e o texto */
    vertical-align: middle; /* Alinha o checkbox verticalmente ao centro com o texto */
    display: inline-block;
}

/* Alinha o label do checkbox ao lado do próprio checkbox */
.modal label[for="checkbox"] {
    display: inline-block; /* Para alinhar o label ao lado do checkbox */
    margin-bottom: 0; /* Remove o espaço abaixo do label */
}
/* Estilo do botão dentro do modal */
.modal button {
    width: 100%;
    background-color: black; /* Define a cor de fundo preta */
    color: white; /* Define a cor do texto */
    padding: 10px;
    border: none; /* Remove a borda */
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo do botão ao passar o mouse */
.modal button:hover {
    background-color: #333; /* Altera a cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

/* Classe para ocultar o modal */
.hidden {
    display: none;
}

.header-icons button {
    background-color: transparent; /* Remove o fundo */
    border: none; /* Remove a borda */
    padding: 0; /* Remove o espaçamento interno */
    cursor: pointer; /* Muda o cursor para pointer (mãozinha) */
}

#modalForm {
    font-family: 'Inter', sans-serif;
}

#modalForm input,
#modalForm label,
#modalForm button {
    font-family: 'Inter', sans-serif;
}

.polygon-icon {
    position: fixed;
    top: -20px; /* Ajuste a posição de acordo com a necessidade */
    right: 39px;
    width: 30px; /* Tamanho da imagem */
    height: auto;
    z-index: 1001; /* Certifique-se de que a imagem fique na frente */
    color: white;
}

/* Aplicar a fonte Inter para todos os elementos dentro do modal de Login e Cadastro */
#loginModal,
#registerModal {
    font-family: 'Inter', sans-serif;
}

/* Caso precise aplicar em labels, inputs e buttons */
#loginModal input,
#loginModal label,
#loginModal button,
#registerModal input,
#registerModal label,
#registerModal button {
    font-family: 'Inter', sans-serif;
}

/* Diminuir o tamanho do texto "Não tem uma conta? Cadastre-se" e "Já tem uma conta? Entrar" */
#loginModal p a,
#registerModal p a {
    font-size: 0.7rem; /* Define o tamanho da fonte */
    color: #000; /* Cor do texto */
    font-weight: bold;
    text-align: center; /* Centraliza o texto dentro do link */
}

/* Centralizar e ajustar o espaçamento do parágrafo */
#loginModal p,
#registerModal p {
    font-size: 0.7rem; /* Define o tamanho da fonte */
    margin-top: 10px; /* Espaçamento superior */
    text-align: center; 
    width: 100%; 
}